---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = async () => {
  const allImages = await getCollection("gallery");
  const tags = [
    ...new Set(
      allImages[0].data
        .map((image) => {
          return {
            params: { tag: image.tag },
            props: { images: allImages[0].data },
          };
        })
        .flat()
    ),
  ];
  return tags;
};

const { tag } = Astro.params;
const { images } = Astro.props;
const filteredImages = images.filter((image) => image.tag === tag);
---

<Layout title={tag}>
  <main>
    {filteredImages.map((image) => <img src={image.src} alt={image.title} />)}
  </main>
</Layout>
